<div class="section container">
  <div class="row">
    <div class="col">
      <h3> {{ title }} </h3>
      <label>Title user</label>
      <!-- (input)="onModificaruser($event)" -->
      <!-- ngModel, vamos a combinar proprety binding con event binding y se actualiza el cmp de manera automatica -->
      <input
        type="text"
        class="form-control"
        [(ngModel)]="titleUser"
      >
      {{ titleUser }}
      <!-- [..] indicamos a angular que quieremos modificar esta propriedad -->
      <!-- la logica es inversa -->
      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary section--xs--top-bottom"
            [disabled]="addUser"
            (click)="onCreateUser()">Add user
          </button>
          <p *ngIf="userCreated; else withoutUsers ">{{ addUserStatus }} with title of {{ titleUser }} </p>
        </div>
      </div>
      <ng-template #withoutUsers>
        <p>
          Name: {{ nameUser }}
          Surname: {{ surnameUser }}
          Age: {{ getAge() }}
        </p>
        <p>No add users</p>
      </ng-template>
    </div>
  </div>
</div>

