<form class="form-row">
  <div class="form-group col-md-2">
    <label for="name" class="sr-only">name</label>
    <input
      type="text"
      name="name"
      id="name"
      placeholder="name"
      class="form-control"
      [(ngModel)]="nameInput"
      >
  </div>
  <div class="form-group col-md-2">
    <label for="surname" class="sr-only">surname</label>
    <input
      type="text"
      name="surname"
      id="surname"
      placeholder="surname"
      class="form-control"
      [(ngModel)]="surnameInput"
      >
  </div>
  <div class="col">
    <button
      type="submit"
      class="btn btn-primary section--xs--top-bottom"
      (click)="onAddUser()"
      >+
    </button>
  </div>
</form>
